/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(21, 36, 94);
}

a {
  text-decoration: none;
}

.nav {
  position: absolute;
  height: 70px;
  width: 100%;
  background: rgb(4, 4, 59);
  /* top: -70px; */
  color: #f8f8f8;
  display: flex;
  align-items: center;
  padding-left: 60px;
  justify-content: space-between;
}

.nav_icon {
  height: 60%;
  width: 600px;
  background: linear-gradient(to left,rgb(4, 4, 59),rgb(94, 139, 236),rgb(4, 4, 59) 85%), linear-gradient(to right,white,black);
  font-family: "Lobster", sans-serif;
}

.nav_icon h1{
    color: transparent;
    background: linear-gradient(to right, white, rgb(68, 90, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu{
    height: 80%;
    width: 600px;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
}

.nav-menu ul{
    display: flex;
    /* background-color: black; */
    height: inherit;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 120px;
}

.nav-menu ul li{
    list-style: none;
    font-family: 'Roboto',sans-serif;
}

.nav-menu ul li a{
    color: #f8f8f8;
}

.signButton{
    height: 40px;
    width: 130px;
    background: rgb(238, 150, 35);
    border-top: 3px solid rgb(122, 81, 5);
    border-left: 1px solid rgb(122, 81, 5);
    border-right: 3px solid rgb(122, 81, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.nav-menu ul li a:hover{
    color: rgb(242, 107, 107);
    transition: 0.6s;
}

.signButton:hover{
    background: transparent;
    transition: 0.6s ease-out;
    border-color: #f8f8f8;
    box-shadow: 0px 20px 60px 0px rgb(68, 90, 255,0.4);
}