/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: rgb(21, 36, 94); */
  background-image: url("../Pics/10701730_19187761.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-input-placeholder{
  color: black;
}

a {
  text-decoration: none;
}

.nav {
  position: sticky;
  height: 70px;
  width: 100%;
  /* background: rgb(4, 4, 59); */
  background: transparent;
  /* top: -70px; */
  color: #f8f8f8;
  display: flex;
  align-items: center;
  padding-left: 60px;
  justify-content: space-between;
}

.nav_icon {
  height: 60%;
  width: 600px;
  margin-top: -1px;
  margin-left: 25px;
  background: linear-gradient(to left, #06002C, rgb(49, 107, 231), #06002C 85%),
    linear-gradient(to right, rgb(0, 2, 23), black);
  font-family: "Lobster", sans-serif;
}

.nav_icon h1 {
  color: transparent;
  background: linear-gradient(
    to right,
    rgb(213, 234, 240) 10%,
    rgb(89, 158, 237) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu {
  height: 80%;
  width: 600px;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  /* background-color: black; */
  height: inherit;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 120px;
}

.nav-menu ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.nav-menu ul li a {
  color: #f8f8f8;
}

.signButton {
  height: 40px;
  width: 130px;
  background: rgb(238, 150, 35);
  border-top: 3px solid rgb(122, 81, 5);
  border-left: 1px solid rgb(122, 81, 5);
  border-right: 3px solid rgb(122, 81, 5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.6s ease;
}

.nav-menu ul li a:hover {
  color: rgb(242, 107, 107);
  transition: 0.6s;
}

.signButton:hover {
  background: transparent;
  /* transition: 0.6s ease-out; */
  border-color: #f8f8f8;
  box-shadow: 0px 20px 60px 0px rgb(68, 90, 255, 0.4);
}

.Container {
  height: 450px;
  width: 450px;
  background: transparent;
  /* border: 1px solid red; */
  margin-left: 100px;
  margin-top: 48px;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.Container h1 {
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.Container p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.Container a {
  color: #f8f8f8;
  display: flex;
  align-items: center;
}

.start {
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 30px;
  margin-top: 15px;
}

.Container .getStarted {
  position: relative;
  /* margin-left: 30px; */
  height: 60px;
  width: 200px;
  /* background: gray; */
  border-radius: 30px;
  display: flex;
  align-items: center;
  font-weight: 100;
  text-transform: uppercase;
}

.Container a p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  /* background-color: antiquewhite; */
  z-index: 9;
  margin-left: -173px;
  margin-top: 30px;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

.Container .getStarted .animate {
  height: 60px;
  width: 60px;
  background: orange;
  border-radius: inherit;
  transition: 0.6s ease;
}

.Container .start:hover .animate {
  width: 190px;
  transition: 0.6s ease;
}

/* Sign Up/In Page */

.main-container {
  width: 100%;
  height: 100vh;
  /* background-color: #f8f8f8; */
  background-image: url("../Pics/6938833_3409390.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  /* backdrop-filter: blur(5px); */
}

.main-container .login-form {
  width: 450px;
  height: 320px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: auto;
}

.main-container .register-form {
  width: 450px;
  height: 550px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: auto;
  /* display: flex; */
}

.login {
  width: 100%;
  height: 50px;
  /* background: #07012D; */
  padding: 10px 0px 0px 20px;
  color: #f8f8f8;
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  border-bottom: 1px solid black;
}

.form-contain {
  width: 100%;
  height: 165px;
  /* background: #07012D; */
  color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contain-register{
  width: 100%;
  height: 400px;
  /* background: #07012D; */
  color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contain form {
  width: 95%;
  height: 100%;
  /* background: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}

.form-contain-register form {
  width: 95%;
  height: 100%;
  /* background: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}

.form-contain form .col-field {
  display: flex;
}

.form-contain form .fields {
  width: 180px;
}

.form-contain form input {
  width: 230px;
  height: 25px;
  border-radius: 15px;
  outline: none;
  border: none;
  padding-left: 10px;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  justify-content: center ;
}

.form-contain form input:focus {
  border: 1px solid black;
  background-color: rgb(202, 217, 240);
}

.form-contain-register form .col-field {
  display: flex;
}

.form-contain-register form .fields {
  width: 180px;
}

.form-contain-register form input {
  width: 230px;
  height: 25px;
  border-radius: 15px;
  outline: none;
  border: none;
  padding-left: 10px;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  justify-content: center ;
}

.form-contain-register form input:focus {
  border: 1px solid black;
  background-color: rgb(202, 217, 240);
}

.eye {
  left: 380px;
  position: relative;
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.eye-reg {
  left: 380px;
  position: relative;
  margin-top: -44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.submit-btn{
  margin-top: 10px;
  /* margin-left: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-btn input{
  width: 20px;
  background-color: orange;
  color: #f9f9f9;
  margin-right: 10px;
}

.submit-btn input:hover{
  background: rgb(4, 4, 56);
  border-top: 3px;
  border-left: 1px;
  border-right: 2px;
  border-style: solid;
  border-color: #f8f8f8;
  border-bottom: none;
  color: rgb(240, 150, 150);
  transition: 0.6s ease-in;
}

#strength{
  display: none;
}

.contact-container{
  display: flex;
  color: white;
  width: 100%;
  /* height: 100vh; */
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.contact-container h1{
  margin: 5px;
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
}
.contact-container p{
  font-family: sans-serif;
}
.contact-container form{
  height: 200px;
  background-color: #5f5b7d;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  margin: 20px;
  color: f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
  border-radius: 10px;
}
.contact-container form .contact-form{
  display: flex;
}
.contact-container form{
  padding: 10px;
  margin-top: 50px;
}
.contact-container form .contact-fields{
  width: 180px;
  margin: 10px;
}
.contact-container form input {
  width: 230px;
  height: 25px;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center ;
}

.contact-container form input:focus {
  border: 1px solid black;
  background-color: rgb(202, 217, 240);
}

.contact-submit input{
  width: 20px;
  background-color: orange;
  color: #f9f9f9;
  margin-top: 20px;
  margin-left: 300px;
}
